*{
    font-family: 'Poppins', sans-serif;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* Top bar starts here */
a{
    text-decoration: none;
    color: black;
}
.top-bar{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.top-bar{
    border-bottom: 2px solid rgb(71, 69, 69);
}
.top-text{
    margin: 11px 25px;
}
.top-button{
    margin-left: 5px;
}
.top-button-tag{
    font-weight: bold;
}

/* Section1 starts */
h1,a{
    color:rgb(71, 69, 69);
}
.header1{
    font-size: 45px;
}
.blue{
    color: rgb(3, 109, 247);
}
.half-width{
    width: 50%;
}
.section1{
    display: flex;
    padding: 70px 60px 70px 70px;
}
.img-head1{
    display: block;
    width: 550px;
    margin-left: auto;
}
.header1{
    margin-top: 180px;
}
/* Design for all Buttons */
button{
    background-image: linear-gradient(90deg,rgb(21, 81, 245), rgb(38, 172, 182));
    border: none;
    padding: 9px 20px;
    font-size: 20px;
    border-radius: 50px;
    color: white;
} 

/* Section2 starts */

.section2{
    margin-top: 110px;
    display: flex;
    align-items: center;
    background-image: url(food-network-main/images/usable/frame.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 470px;
}
.section2 p{
    text-align: center;
}

.text-header2{
    width:35%;
}
.header2{
    font-size: 32px;
    text-align: center;
}
.img-header2{
    display: flex;
    justify-content: center;
    margin-top: auto;
}
.img-head2{
    height: 390px;
    margin-right: 30px;
}
.button-section2{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
/* section3 starts */
.section3{
    margin-top: 100px;
}
.boxes{
    margin-top: 80px;
    display: flex;
    justify-content: center;  
}
.box{
    box-shadow: 0px 0px 20px 5px rgba(100,99,107,0.30);
    margin:0px 25px;
    padding: 25px;
    border-radius: 15px;
    width:310px;
    height: 540px;
}
.recipies{
    text-align: center;
}
.card-img{
    height:236px;
    width:419.55px;
    
    border-radius: 15px;
}
.img-card-div{
    display: flex;
    justify-content: center;
}

/* Section 4 starts here */

.section4{
    margin-top: 120px;
    display: flex;
    justify-content: center;
}
.all-texts-section4{
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 20px 5px rgba(100,99,107,0.30);
    width: 1000px;
    border-radius: 15px;
}
.text-section4{
    margin:0px 80px;
}

/* Section 5 Starts here */

.section5{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.section5 h3{
    text-align: center;
    color: rgb(71, 69, 69);
}
.inp-quiery{
    width:550px;
    height: 100px;
    border-radius: 15px;
    border: 1px dashed black;
    box-shadow: 0px 0px 20px 5px rgba(100,99,107,0.30);
}

/* footer starts */
footer{
    color: white;
    text-align: center;
    margin-top: 80px;
    background-color: black;
    width:100%;
    height: 200px;
    display: block;
    padding-top: 30px;
}
